<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<style>
th {
	text-align: left;
}
td {
	text-align: center;
}
</style>
<script>
//가입폼 확인
function validation() {
	let memberid = $('#memberid').val();
	let memberpw = $('#memberpw').val();
	let membername = $('#membername').val();
	
	if (memberid.length < 3 || memberid.length > 10) {
		alert("ID는 3~10자로 입력하세요.");
		return false;
	}
	if (memberpw.length < 3 || memberpw.length > 10) {
		alert("비밀번호는 3~10자로 입력하세요.");
		return false;
	}
	if (membername == '') {
		alert("이름을 입력하세요.");
		return false;
	}
	return true;
}
</script>
</head>
<body>
	<header>
	<h1>[ 회원가입 ]</h1>
	</header>
	
	<section>
	<form id="joinform" th:action="@{/member/join}"  method="post" onsubmit="return validation();">
	<table>
		<tr>
			<th>ID</th>
			<td>
				<input type="text" name="memberid" id="memberid">
			</td>
		</tr>
		<tr>
			<th>비밀번호</th>
			<td><input type="password" name="memberpw" id="memberpw"></td>
		</tr>
		<tr>
			<th>이름</th>
			<td><input type="text" name="membername" id="membername"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="가입" />
				<input type="reset" value="다시 쓰기" />
			</td>
		</tr>
	</table>
	
	</form>	
	</section>
	
</body>
</html>