<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>글쓰기</title>
<style>
th {
	text-align: left;
}
#title {
	width: 400px;
}
#contents {
	width: 400px;
	height: 200px;
}
</style>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
//글쓰기폼 확인
function validation() {
	let title = $('#title').val();
	let contents = $('#contents').val();
	
	if (title.length < 5) {
		alert("제목을 입력하세요.");
		return false;
	}
	if (contents.length < 5) {
		alert("내용을 입력하세요.");
		return false;
	}
	return true;
}
</script>	
</head>
<body>
<header>
<h1>[ 글쓰기 ]</h1>
</header>

<section>
<form th:action="@{/board/write}"  method="post" onsubmit="return validation();">
	
	<table>
	<tr>
		<th>카테고리</th>
		<td>
			<select name="category">
				<option value="공지">공지</option>
				<option value="취미">취미</option>
				<option value="잡담">잡담</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>제목</th>
		<td>
			<input type="text" name="title" id="title">
		</td>
	</tr>
	<tr>
		<th>내용</th> 
		<td>
			<textarea name="contents" id="contents"></textarea>
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td>
			<input type="submit" value="저장">
		</td> 
	</tr>
	</table>
</form>

</section>
</body>
</html>
